In [3]:
import numpy as np
import pandas as pd
import yfinance as yf

In [12]:
NIFTY_50 = ["ADANIGREEN.NS", "ADANIPORTS.NS", "APOLLOHOSP.NS", "ASIANPAINT.NS", "AXISBANK.NS", "BAJFINANCE.NS", "BAJAJFINSV.NS", "BEL.NS", "BHARTIARTL.NS", "BPCL.NS", "CIPLA.NS", "COALINDIA.NS", "DRREDDY.NS", "EICHERMOT.NS", "GRASIM.NS", "HCLTECH.NS", "HDFCBANK.NS", "HDFCLIFE.NS", "HEROMOTOCO.NS", "HINDALCO.NS", "HINDUNILVR.NS", "ICICIBANK.NS", "INDUSINDBK.NS", "INFY.NS", "IOC.NS", "ITC.NS", "JSWSTEEL.NS", "KOTAKBANK.NS", "LT.NS", "M&M.NS", "MARUTI.NS", "NESTLEIND.NS", "NTPC.NS", "ONGC.NS", "POWERGRID.NS", "RELIANCE.NS", "SBILIFE.NS", "SHREECEM.NS", "SUNPHARMA.NS", "TATACONSUM.NS", "TATAMOTORS.NS", "TATASTEEL.NS", "TCS.NS", "TECHM.NS", "TITAN.NS", "TRENT.NS", "ULTRACEMCO.NS", "WIPRO.NS"]
NIFTY_BANK = ["HDFCBANK.NS", "ICICIBANK.NS", "KOTAKBANK.NS", "AXISBANK.NS", "INDUSINDBK.NS", "BANKBARODA.NS", "PNB.NS", "IDFCFIRSTB.NS", "FEDERALBNK.NS", "AUBANK.NS"]
NIFTY_IT = ["TCS.NS", "INFY.NS", "HCLTECH.NS", "WIPRO.NS", "LTIM.NS", "TECHM.NS", "PERSISTENT.NS", "LTTS.NS", "COFORGE.NS", "MPHASIS.NS"]
NIFTY_AUTO = ["ASHOKLEY.NS", "BAJAJ-AUTO.NS", "BALKRISIND.NS", "BHARATFORG.NS", "BOSCHLTD.NS", "EICHERMOT.NS", "HEROMOTOCO.NS", "M&M.NS", "MARUTI.NS", "MRF.NS", "TATAMOTORS.NS", "TIINDIA.NS", "TVSMOTOR.NS"]
NIFTY_FMCG = ["BRITANNIA.NS", "COLPAL.NS", "DABUR.NS", "EMAMILTD.NS", "GODREJCP.NS", "MSUMI.NS", "HINDUNILVR.NS", "ITC.NS", "MARICO.NS", "NESTLEIND.NS", "PGHH.NS", "UBL.NS", "VBL.NS"]
NIFTY_METAL = ["ADANIENT.NS", "APLAPOLLO.NS", "COALINDIA.NS", "HINDALCO.NS", "HINDCOPPER.NS", "HINDZINC.NS", "JINDALSTEL.NS", "JSWSTEEL.NS", "NATIONALUM.NS", "NMDC.NS", "RATNAMANI.NS", "SAIL.NS", "TATASTEEL.NS", "VEDL.NS", "WELCORP.NS"]
NIFTY_REALTY = ["DLF.NS", "GODREJPROP.NS", "OBEROIRLTY.NS", "PHOENIXLTD.NS", "BRIGADE.NS", "PRESTIGE.NS", "SOBHA.NS", "MAHLIFE.NS", "IBREALEST.NS", "SUNTECK.NS"]
NIFTY_ENERGY = ["RELIANCE.NS", "ONGC.NS", "NTPC.NS", "POWERGRID.NS", "IOC.NS", "BPCL.NS", "GAIL.NS", "TATAPOWER.NS", "ADANIGREEN.NS", "539254.BO", "NHPC.NS", "TORNTPOWER.NS", "OIL.NS", "ATGL.NS", "JSWENERGY.NS", "CESC.NS", "NHPC.NS", "SJVN.NS", "GUJGASLTD.NS"]
NIFTY_MEDIA = ["SUNTV.NS", "PVRINOX.NS", "SAREGAMA.NS", "ZEEL.NS", "TIPSMUSIC.NS", "NAZARA.NS", "NETWORK18.NS", "HATHWAY.NS", "DEN.NS", "DISHTV.NS"]
NIFTY_PSU_BANK = ["BANKBARODA.NS", "PNB.NS", "CANBK.NS", "UNIONBANK.NS", "INDIANB.NS", "BANKINDIA.NS", "MAHABANK.NS", "CENTRALBK.NS", "UCOBANK.NS", "IOB.NS", "IDBI.NS"]
SENSEX = ["RELIANCE.NS", "HDFCBANK.NS", "INFY.NS", "ICICIBANK.NS", "TCS.NS", "KOTAKBANK.NS", "HINDUNILVR.NS", "ITC.NS", "SBIN.NS", "AXISBANK.NS", "BAJFINANCE.NS", "BHARTIARTL.NS", "ASIANPAINT.NS", "HCLTECH.NS", "MARUTI.NS", "SUNPHARMA.NS", "LT.NS", "ULTRACEMCO.NS", "NESTLEIND.NS", "TITAN.NS", "BAJAJFINSV.NS", "M&M.NS", "POWERGRID.NS", "TECHM.NS", "INDUSINDBK.NS", "NTPC.NS", "TATASTEEL.NS", "ONGC.NS", "JSWSTEEL.NS", "ADANIPORTS.NS"]

In [11]:
start_date = "2015-01-01"
end_date = "2024-12-31"
div_merged = []


# Create an empty dictionary to store dataframes
dividend_data = {}

# Loop through each stock and download dividends
for ticker in NIFTY_50:
    
    # Download dividend data
    dividends_data = yf.Ticker(ticker).history(start=start_date, end=end_date, actions=True)

    dividends_data["Stock"] = ticker.replace('.NS', "")
    
    variable_name = ticker.replace('.NS', '')

    
    div_merged.append(dividends_data)
    
    final_df = pd.concat(div_merged, ignore_index=False)
    
        
    globals()[variable_name] = dividends_data

In [22]:
final_df[final_df['Stock'] == 'RELIANCE']

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock
Date,,,,,,,,
2015-01-01 00:00:00+05:30,187.204050,188.407997,186.644306,187.541992,2963643,0.0,0.0,RELIANCE
2015-01-02 00:00:00+05:30,187.584248,189.263454,186.781622,187.045639,7331366,0.0,0.0,RELIANCE
2015-01-05 00:00:00+05:30,186.929473,188.175676,184.627173,184.996811,10103941,0.0,0.0,RELIANCE
2015-01-06 00:00:00+05:30,183.761155,184.394810,175.734795,176.600800,18627980,0.0,0.0,RELIANCE
2015-01-07 00:00:00+05:30,176.812033,181.395497,176.790912,180.445007,20720312,0.0,0.0,RELIANCE
...,...,...,...,...,...,...,...,...
2024-12-23 00:00:00+05:30,1215.000000,1227.199951,1213.199951,1222.300049,10052824,0.0,0.0,RELIANCE
2024-12-24 00:00:00+05:30,1222.300049,1233.550049,1221.000000,1222.750000,6734917,0.0,0.0,RELIANCE
2024-12-26 00:00:00+05:30,1224.250000,1227.699951,1214.250000,1216.550049,10016178,0.0,0.0,RELIANCE
2024-12-27 00:00:00+05:30,1218.300049,1227.900024,1217.000000,1221.050049,7000397,0.0,0.0,RELIANCE
2024-12-30 00:00:00+05:30,1216.400024,1223.199951,1208.099976,1210.699951,8818766,0.0,0.0,RELIANCE

In [88]:
final_df[final_df['Dividends'] != 0.0]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock
Date,,,,,,,,
2015-05-22 00:00:00+05:30,330.856643,337.758415,330.142667,332.189423,2369700,1.1,0.0,ADANIPORTS
2016-03-22 00:00:00+05:30,231.420296,232.663466,226.160744,229.077408,3153670,1.1,0.0,ADANIPORTS
2017-07-31 00:00:00+05:30,379.935824,381.854691,377.441290,379.839874,1581010,1.3,0.0,ADANIPORTS
2018-07-26 00:00:00+05:30,381.658226,387.636715,380.597552,385.033173,2388169,2.0,0.0,ADANIPORTS
2019-07-26 00:00:00+05:30,367.242620,370.860536,363.914154,368.207397,2701597,0.2,0.0,ADANIPORTS
...,...,...,...,...,...,...,...,...
2021-01-22 00:00:00+05:30,213.600973,215.773019,210.259355,212.312057,22797624,1.0,0.0,WIPRO
2022-01-21 00:00:00+05:30,292.147844,292.626775,287.741674,289.777130,19646694,1.0,0.0,WIPRO
2022-04-05 00:00:00+05:30,294.837236,296.809466,291.233631,291.769318,12862488,5.0,0.0,WIPRO
2023-01-24 00:00:00+05:30,199.369242,200.247960,197.782685,198.490540,9552640,0.5,0.0,WIPRO
2024-01-24 00:00:00+05:30,230.911591,234.833656,229.465323,234.367905,11708750,1.0,0.0,WIPRO

In [70]:
final_df_edit = final_df[final_df['Dividends'] != 0.0]
#if isinstance(final_df_edit.columns, pd.MultiIndex):
#        final_df_edit.columns = final_df_edit.columns.droplevel(1)

In [95]:
final_df_edit.to_csv("final-csv_div.csv")

In [86]:
final_df_edit.columns

Index(['Dividends', 'Stock'], dtype='object')

In [98]:
df = pd.read_csv("final-csv_div.csv")

In [100]:
df

                          Date  Dividends       Stock
0    2015-05-22 00:00:00+05:30        1.1  ADANIPORTS
1    2016-03-22 00:00:00+05:30        1.1  ADANIPORTS
2    2017-07-31 00:00:00+05:30        1.3  ADANIPORTS
3    2018-07-26 00:00:00+05:30        2.0  ADANIPORTS
4    2019-07-26 00:00:00+05:30        0.2  ADANIPORTS
..                         ...        ...         ...
714  2021-01-22 00:00:00+05:30        1.0       WIPRO
715  2022-01-21 00:00:00+05:30        1.0       WIPRO
716  2022-04-05 00:00:00+05:30        5.0       WIPRO
717  2023-01-24 00:00:00+05:30        0.5       WIPRO
718  2024-01-24 00:00:00+05:30        1.0       WIPRO

[719 rows x 3 columns]

In [108]:
df['Date'] = pd.to_datetime(df['Date'])

# Extract date
df['date_n'] = df['Date'].dt.date

In [123]:
df.drop(['Date'], axis = 1, inplace = True)

In [129]:
df["Date"] = df['date_n']

In [133]:
df.drop(['date_n'], axis = 1, inplace = True)

In [139]:
df.to_csv("Dividends_data.csv")

In [78]:
final_df_edit.drop(["Stock Splits","Volume", "Close", "Low", "High", "Open"], axis = 1, inplace= True)

/var/folders/f1/f5y19fcx7070w2xg9472pbrm0000gn/T/ipykernel_5282/2242963666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df_edit.drop(["Stock Splits","Volume", "Close", "Low", "High", "Open"], axis = 1, inplace= True)

In [38]:
final_df["Stock Splits"].value_counts()

Stock Splits
0.000000     116086
2.000000         17
10.000000         6
1.500000          5
5.000000          4
1.333333          3
3.000000          2
1.100000          2
1.200000          1
Name: count, dtype: int64

In [174]:
history_data = yf.Ticker("RELIANCE.NS").history(start=start_date, end=end_date, actions=True)

In [179]:
history_data.to_csv('History_Data.csv', index=True)